@media screen and (max-width: 1024px) {
    .container, .services, .news, footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    .home__wrapper {
        margin-top: 0;
    }
    .home__img {
        margin-right: 0;
    }
    .home__img img{
        max-width: 100%;
    }
    .services__title,  .lead, .mobile, .reviews, .news{
        margin-top: 50px;
    }
    .services__dots {
        display: none;
    }
    .lead__block {
        text-align: center;
    }
    .mobile__block {
        text-align: center;
    }
    .lead__img {
        flex-basis: 50%;
    }
    .lead__img img {
        max-width: 100%;
    }
    .mobile__img {
        flex-basis: 50%;
    }
    .mobile__img img {
        max-width: 100%;
    }
    .reviews {
        margin-left: 20px;
        margin-right: 20px;
    }
    .reviews__content {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }
    .reviews__name {
        margin-left: auto;
        text-align: center;
        margin-top: 1em;
    }
    .reviews__description {
        text-align: center;
        max-width: 100%;
    }
    .news__group img {
        max-width: 100%;
    }
    .news .button {
        margin-bottom: 72px;
    }
}
@media screen and (max-width: 768px) {
    nav {
        display: none;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .header__logo {
        margin-top: 0;
        margin-bottom: 0;
    }
    .services__item {
        flex-basis: calc(50% - 17px);
    }
    .reviews__contenet {
        display: block;
        text-align: center;
    }
    .news__block {
        display: block;
    }
    .news__group {
       margin: 0 auto; 
    }
    .news__group + .news__group {
        margin-top: 20px;
    }
    .footer__group {
        flex-basis: 20%;
    }
    .footer__block {
        margin-right: 10%;
    }
    footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .lead__img {
        margin-right: 20px;
    }
    .mobile__img {
        order: -1;
        margin-bottom: 50px;
    }
    .mobile {
        flex-direction: column;
    }
    .services__item:nth-child(n + 3) {
        margin-top: 35px;
    }
    .lead {
        display: block;
    }
    .lead__block {
        max-width: 100%;
        margin-top: 50px;
    }
    .reviews__contenet {
        padding-left: 0;
        padding-right: 0;
    }
    .header__burger {
        display: flex;
    }
 
}
@media screen and (max-width: 640px) {
    .footer__group {
        display: none;
    }
    .footer__content {
        text-align: center;
    }
    .footer__block {
        margin-right: auto;
        margin-left: auto;
    }
    .home {
        flex-direction: column;
    }
    .home__img {
        order: -1;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 50px;
    }
    .home__block {
        max-width: 100%;
        text-align: center;
        margin-right: 0;
    }
    .services__item {
        flex-basis: 100%;
    }
    .services__item:nth-child(n + 2) {
        margin-top: 35px;
    }
    .services__content {
        justify-content: center;
    }
}

@media screen and (max-width: 420px) {
    .modal form {
        flex-direction: column;
    }
    .modal input {
        margin-right: 0;
        margin-bottom: 16px;
        height: 60px;
        box-sizing: border-box;
    }
}